<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAT CARE</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ultra&display=swap" rel="stylesheet">
<script src ="/js/javascript.js"></script>
    
</head>
<body class="cutive-mono-regular ">
   <%- include('header.ejs') %>
    <nav class="side-menu">
        <ul>
            <li><a href="/">HOME PAGE</a></li>
            
            <li><a href="/find-dog-cat">FIND A DOG/CAT</a></li>
            <li><a href="/dog-care">DOG CARE</a></li>
            <li><a class="active" href="/cat-care">CAT CARE</a></li>
            <li><a href="/have-pet-giveaway">HAVE A PET TO GIVE AWAY</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
            <% if (!session.loggedin) { %>
                <li><a href="/create-account">LOG IN</a></li>
            <% } else { %>
                <li><a href="/logout">LOG OUT</a></li>
            <% } %>
        </ul>
    </nav>
    
    <main class="content-area">
        <section id="cat-care">
            <h2>CAT CARE TIPS</h2>
            <p>
                Caring for your new arrival over the coming days will be a full time job. Moving home is extremely stressful for your cat or dog. His entire life will be turned upside down and he'll naturally turn to you for comfort and support! 
            </p>
            <ol>
                <li>
                    <p> <span>Proper Nutrition</span> : Feed your cat a balanced and appropriate diet to meet their nutritional needs. Provide fresh water at all times and monitor their weight to prevent obesity-related health issues.
                        Litter Box Maintenance: Keep your cat's litter box clean by scooping it daily and replacing the litter regularly. Cats are clean animals and may stop using a dirty litter box, leading to behavior problems.</p>
                </li>
                <li>
                    <p><span>Litter Box Maintenance</span> 
                      : Keep your cat's litter box clean by scooping it daily and replacing the litter regularly. Cats are clean animals and may stop using a dirty litter box, leading to behavior problems.
                    </p> 
                </li>
                <li> <p><span>Regular Veterinary Check-ups</span> 
                    : Schedule annual wellness exams with your veterinarian to monitor your cat's health, administer vaccinations, and address any concerns or health issues.
                </p>
                    
                </li>
                <li> <p><span>Enrichment and Play</span>
                    : Provide opportunities for your cat to engage in mental and physical stimulation through interactive toys, scratching posts, and play sessions. Cats need both mental and physical exercise to stay happy and healthy.</p>
                </li>
                <li> <p><span>Grooming</span>
                
                        : Regular grooming, including brushing their coat, trimming their nails, and cleaning their ears, is essential for your cat's grooming needs and overall well-being. Additionally, grooming sessions provide an opportunity to bond with your cat.
                    </p>
                </li>
            </ol>
        </section>
        <p>Credits to <a href="https://chat.openai.com">ChatGPT</a> for all the text found in the content area</p>
    </main>
    <%- include('footer.ejs') %>
    
</body>
</html>
