<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE ACCOUNT</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ultra&display=swap" rel="stylesheet">
    <script src ="/js/javascript.js"></script>
        
</head>
<body class="cutive-mono-regular">
    <%- include('header.ejs') %>
    <nav class="side-menu">
        <ul>
            <li><a href="/">HOME PAGE</a></li>
            
            <li><a href="/find-dog-cat">FIND A DOG/CAT</a></li>
            <li><a href="/dog-care">DOG CARE</a></li>
            <li><a href="/cat-care">CAT CARE</a></li>
            <li><a href="/have-pet-giveaway">HAVE A PET TO GIVE AWAY</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
            <% if (!session.loggedin) { %>
                <li><a class="active"href="/create-account">LOG IN</a></li>
            <% } else { %>
                <li><a href="/logout">LOG OUT</a></li>
            <% } %>
        </ul>
    </nav>
    <main class="content-area">
        <section id="create-account">
            <h2>LOGIN</h2>
            <form action="/create-account" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <br>
                <br>
                <input type="submit" value="Login">
            </form>
        </section>
    </main>

    <%- include('footer.ejs') %>
</body>
</html>
