<header>
    <div class="logo">
        <table>
            <tr>
                <td>
                   <a href="/"><img src="/images/Oink!.png" alt="Logo cannot load" width="200"></a>
                </td>
                <td>
                    <h1 class="ultra-regular">PAW CITY 🐾</h1>
                    <div id="current-time"></div>
                </td>
            </tr>
        </table>
    </div>
</header>