<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIVACY DISCLAIMER</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ultra&display=swap" rel="stylesheet">
<script src ="/js/javascript.js"></script>
    
</head>
<body class="cutive-mono-regular ">
    <%- include('header.ejs') %>
    <nav class="side-menu">
        <ul>
            <li><a class="active" href="/">HOME PAGE</a></li>
            
            <li><a href="/find-dog-cat">FIND A DOG/CAT</a></li>
            <li><a href="/dog-care">DOG CARE</a></li>
            <li><a href="/cat-care">CAT CARE</a></li>
            <li><a href="/have-pet-giveaway">HAVE A PET TO GIVE AWAY</a></li>
            <li><a href="/contact-us">CONTACT US</a></li>
            <% if (!session.loggedin) { %>
                <li><a href="/create-account">LOG IN</a></li>
            <% } else { %>
                <li><a href="/logout">LOG OUT</a></li>
            <% } %>
        </ul>
    </nav>
    
    <main class="content-area">
        <section id="home-page">
            <h2>PRIVACY DISCLAIMER STATEMENT</h2>
            <p>
                At PAW CITY, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Disclaimer Statement outlines how we collect, use, and protect the information you provide to us.The personal information we collect is used solely for the purpose of facilitating the adoption process and providing you with our adoption services. This includes processing your adoption application, matching you with suitable pets, communicating with you about available pets, and arranging adoption meetings.We do not sell, trade, or rent your personal information to third parties. However, we may share your information with trusted partners such as animal shelters or rescue organizations to facilitate the adoption process and match you with suitable pets.
            </p>
        </section>
        <p>Credits to <a href="https://chat.openai.com">ChatGPT</a></p>
    </main>
    <%- include('footer.ejs') %>
</body>
</html>
